<nav *ngIf="paginator.pages.length > 1" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{disabled: paginator.actualPage == 1}" (click)="setPage(1)">
      <a class="page-link" routerLink="1">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: paginator.actualPage == 1}" (click)="setPreviousPage()">
        <a class="page-link" routerLink="{{paginator.actualPage - 1}}" aria-label="Previous" >
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    <li *ngFor="let page of paginator.pages" [ngClass]="{active: page == paginator.actualPage}" class="page-item" (click)="setPage(page)">
      <a class="page-link" routerLink="{{page}}">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: paginator.actualPage == paginator.pages.length}" (click)="setNextPage()">
        <a class="page-link" routerLink="{{paginator.actualPage + 1}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    <li class="page-item" [ngClass]="{disabled: paginator.actualPage == paginator.pages.length}" (click)="setPage(paginator.pages.length)">
      <a class="page-link" routerLink="{{paginator.pages.length}}">Last</a>
    </li>
  </ul>
</nav>