<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/main/pokemons">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/main/pokemons">Pokemons</a></li>
    <li class="breadcrumb-item active">{{pokemon?.name | capitalCase}}</li>
  </ol>
</nav>
<div class="row">
  <app-detail-content [pokemon]="pokemon" class="col-12"></app-detail-content>
</div>
<div class="row">
  <app-similar-content [similars]="similars" class="col-12"></app-similar-content>
</div>