<div class="card">
  <img class="card-img-top" src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}_front_default">
  <div class="card-body">
    <h4 class="card-title">
      <span class="badge badge-secondary">{{pokemon.id}}</span>
      {{pokemon.name}}
    </h4>
    <p class="card-text"><b>Weight:</b> {{pokemon.weight}}</p>
    <p class="card-text"><b>Height:</b> {{pokemon.height}}</p>
  </div>
  <div class="card-footer text-right">
    <a href="#/favorite/{{pokemon.id}}"><i class="fa fa-heart"></i></a>
    <a [routerLink]="['../detail/', pokemon.name]"><i class="fa fa-bars"></i></a>
    <a href="#/share/{{pokemon.id}}"><i class="fa fa-share"></i></a>
  </div>
</div>