<div class="layout row align-items-center">
  <div class="row col-12 justify-content-center">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-7">
            <app-login-form (loginEmitter)="auth($event)"></app-login-form>
          </div>
          <div class="col-5">
            <div class="card-title text-center">
              <h3>Sign in with your social network!</h3>
            </div>
            <div class="card-body container">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-primary">Log in with facebook</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-link">Log in with twitter</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-danger">Log in with Google+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>