<div class="layout row align-items-center">
  <div class="row col-12 justify-content-center">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-7">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <h3>Log in!</h3>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="form-group text-right">
                  <button routerLink="/main/pokemons" class="btn btn-primary">Login</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="card-title text-center">
              <h3>Sign in with your social network!</h3>
            </div>
            <div class="card-body container">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-primary">Log in with facebook</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-link">Log in with twitter</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-danger">Log in with Google+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>