<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">
      Library
    </li>
  </ol>
</nav>
<div id="dynamicContent" class="row">
  <div *ngFor="let pokemon of pokemons" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <div class="card">
      <img class="card-img-top" src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}_front_default">
      <div class="card-body">
        <h5 class="card-title">[#{{pokemon.id}}] {{pokemon.name}}</h5>
        <p class="card-text">Weight: {{pokemon.weight}} - Height: {{pokemon.height}}</p>
      </div>
      <div class="card-footer text-right">
        <a href="#/favorite/{{pokemon.id}}"><i class="fa fa-heart"></i></a>
        <a href="#/detail/{{pokemon.id}}"><i class="fa fa-bars"></i></a>
        <a href="#/share/{{pokemon.id}}"><i class="fa fa-share"></i></a>
      </div>
    </div>
  </div>
</div>