<ul class="main-menu nav flex-column">
  <li class="nav-item">
    <a class="nav-link">
      <i class="fa fa-tachometer"></i>
      <span>Home</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <i class="fa fa-book"></i>
      <span>Collections</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <i class="fa fa-star"></i>
      <span>Favorites</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <i class="fa fa-power-off"></i>
      <span>Exit</span>
    </a>
  </li>
</ul>