<ul class="main-menu nav flex-column">
  <li class="nav-item">
    <a routerLink="/main/pokemons" class="nav-link">
      <i title="Home" class="fa fa-tachometer"></i>
      <span>Home</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <i title="Collections" class="fa fa-book"></i>
      <span>Collections</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <i title="Favorites" class="fa fa-star"></i>
      <span>Favorites</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/login" class="nav-link">
      <i title="Log out" class="fa fa-power-off"></i>
      <span>Log out</span>
    </a>
  </li>
</ul>